*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}
@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: red;
    position: relative;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    height: 10vh;
    width: 100vw;
    /* background-color: yellow; */
}
#page1>nav>img{
    margin-top: -2vw;
    margin-left: 0px;
    width: 14%;
}
#right-nav>button{
    margin-top: 30px;
    margin-right: 15px;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid #fff;
    color: white;
    font-family: a;
    font-size: 15px;
}